<div class="report-detail--wrap z-depth-1">

  <h2 class="form-assessmentTitle">Bank Info</h2>

  <div class="report-detail">
    <label for="damageAndFaults">Bank Name</label> <p>{{inspection.bank|striptags}}</p>
  </div>

  <div class="report-detail">
    <label for="damageAndFaults">Bank Account Number</label> <p>{{inspection.bankAccountNumber|striptags}}</p>
  </div>

  <div class="report-detail">
    <label for="damageAndFaults">Bsb</label> <p>{{inspection.bsb|striptags}}</p>
  </div>

</div>
