<div class="report-detail--wrap z-depth-1">
  <h2 class="form-assessmentTitle">Vehicle Images</h2>
  <div class="row vehicle-images">
    {% for image in images %}
      <div class="col s12 m6 l3">
        <img src="{{ image.getUrl }}" alt="{{ image.title }}" />
      </div>
    {% endfor %}
  </div>
</div>
