<div class="report-detail--wrap z-depth-1">

  <h2 class="form-assessmentTitle">Legal</h2>

  <div class="report-detail">
    <label for="customerSignature">Customer Signature</label>
    <div class="signature-display" id="md-launch">
      <img class="signature-image" src="{{inspection.customerSignatureString}}" alt="signature-image">
    </div>
  </div>
</div>
