<div class="report-detail--wrap z-depth-1">

  <h2 class="form-assessmentTitle">Legal</h2>

  <div class="report-detail">
    <label for="customerSignature">Customer Signature</label>
    <img class="signature" src="{{ inspection.customerSignatureString }}" alt="">
  </div>

</div>
