<div class="report-detail--wrap z-depth-1">

  <h2 class="form-assessmentTitle">Legal</h2>

  <div class="report-detail">
    <label>Customer Signature</label>
    <div class="signature-display">
      <img class="signature-image" src="{{inspection.customerSignatureString}}" alt="signature-image">
    </div>
  </div>

  <div class="report-detail">
    <label>Rep Signature</label>
    <div class="signature-display">
      <img class="signature-image" src="{{inspection.repSignatureString}}" alt="signature-image">
    </div>
  </div>
</div>
