{% set entry = craft.entries.section('blankInspection')[0] %}

{% set pageClass = 'form-page' %}
{% set pageTitle = entry.title ?? entry.year ~ ' ' ~ entry.make ~ ' ' ~ entry.model %}

{% extends "layouts/loginRequired" %}
{% import "_form/_macros" as _formMacros %}

{% block content %}
<form method="post" accept-charset="UTF-8" class="form-finalize form-styles col s12" enctype="multipart/form-data" id="form-finalize">
  {{ getCsrfInput() }}

  <input type="hidden" name="action" value="entries/saveEntry">
  <input type="hidden" name="redirect" value="{{ url('thankyou/' ~ entry.id) }}">
  <input type="hidden" name="sectionId" value="{{ entry.sectionId }}">
  <input type="hidden" name="entryId" value="{{ entry.id }}">
  <input type="hidden" name="enabled" value="1">
  <!-- set inspectionStatus to 3: finalized -->
  <input type="hidden" name="fields[inspectionStatus]" value="finalized">

  <section class="row customer-and-car">
      <h2>Customer & Car Details</h2>
      {% include '_form/customerDetails' %}
      {% include '_form/carDetails' %}
      {% include '_form/carRegistration' %}
      {% include '_form/imageUpload' %}
  </section>

  <section class="row finance">
    {% include '_form/finance' %}
  </section>

  <section class="row bank">
    <div class="bank__section-title">
      <h2>Bank Details</h2>
      <span>-</span>
      <p>Must be the registered owner of the vehicle unless a letter of authority is signed with additional information supplied</p>
    </div>
    {% include '_form/bank' %}
  </section>

  <section class="row contract">
    {% include '_form/contract' %}
  </section>

  <section class="row">
    <div class="row row-submit">
      <div class="col s12 m4 offset-m4">
          <button type="submit" id="form-finalize-submit" class="btn btn-large waves-effect">Submit</button>
      </div>
    </div>
  </section>

  </form>

  {% include '_partials/signaturePad' %}

{% endblock %}
