{% set entry = craft.entries.id( craft.request.getSegment(2) ).first() %}

{% set hideNav = true %}
{% set pageClass = 'contract-page' %}
{% set pageTitle = entry.year ~ ' ' ~ entry.make ~ ' ' ~ entry.model ~ ' Contract' %}

{% extends "layouts/public" %}

{% import "_form/_macros" as _formMacros %}

{% block content %}
<div class="display-wrapper form-styles">
  <section class="row contract visuallyhidden">
    {% include '_form/contract' %}
  </section>
  <section class="row">
    <div class="col s12">
      <a id="save-contract" target="_blank" href="{{ url('contract/' ~ craft.request.getSegment(2) ~ '/download' ~ (craft.request.getParam('full') ? '?full=1' : '') ) }}">
        <i class="material-icons">file_download</i>
        <span>Download Contract of Sale</span>
      </a>
    </div>
  </section>
</div>

{% endblock %}
