{% set entry = craft.entries.id( craft.request.getSegment(2) ).first() %}

{% set hideNav = true %}
{% set pageClass = 'internalRecord-page' %}
{% set pageTitle = entry.year ~ ' ' ~ entry.make ~ ' ' ~ entry.model ~ 'Internal Record' %}

{% extends "layouts/public" %}

{% import "_form/_macros" as _formMacros %}

{% block content %}
<section id="licenseAndRegistrationPhotos" class="visuallyhidden">
{% for photo in entry.licenseAndRegistrationPhotos %}
  <img class="inspection-image" src="{{ photo.getUrl('photo') }}">
{% endfor %}
</section>
<div class="display-wrapper form-styles">
  <section class="visuallyhidden">
    {% set allFields = [
    'customerName',
    'customerEmail',
    'customerMobileNumber',
    'customerAddress',
    'customerState',
    'customerSuburb',
    'customerPostcode',
    'customerDriversLicense',
    'customerDriversLicenseExpirationDate',
    'customerDob',
    'year',
    'make',
    'model',
    'badge',
    'series',
    'carBody',
    'colour',
    'engineSize',
    'transmission',
    'odometer',
    'seats',
    'doors',
    'engineType',
    'driveTrain',
    'chassisVinNumber',
    'engineNumber',
    'registrationNumber',
    'personalisedNumberPlates',
    'keepNumberPlates',
    'expirationDate',
    'buildDate',
    'complianceDate',
    'writeOff',
    'registrationPapers',
    'ownersManual',
    'spareKey',
    'sunroof',
    'leatherUpholstery',
    'satNav',
    'serviceHistory',
    'wheels',
    'tradesmanExtras',
    'tradesmanExtrasDescription',
    'upgradesMods',
    'upgradesAndModsDescription',
    'sportsKit',
    'sportsKitDescription',
    'damageAndFaults',
    'approximateExpenditure',
    'agreedPrice',
    'finance',
    'financeCompany',
    'bank',
    'bsb',
    'bankAccountNumber',
    'contractCopy',
    'takataAirbagRecall',
    'takataAirbagRecallStatus',
    'contractNote'
    ] %}
    {% for field in allFields %}
    <div class="field">
      {% set fieldName = field %}
      <div class="fieldName">{{ fieldName|camelToSpace|title|replace({'Customer ':''}) }}</div>
      {% set value = attribute(entry, field)|striptags %}
      {% switch value %}
        {% case '1' %}
          {% set value = 'yes' %}
        {% case '0' %}
          {% set value = 'no' %}
        {% case '' %}
          {% set value = 'not filled out' %}
      {% endswitch %}
      {% if field == 'complianceDate' or field == 'buildDate' %}
        {% set value = value ? (value | date('m/y')) : '' %}
      {% endif %}
        {% if field == 'serviceHistory' and (value == 'yes' or value == 'partial') %}
            {% set is_partial = value == 'partial' %}
            {% set value = value ~ ', ' ~ (attribute(entry, 'serviceHistoryFactory') ? 'factory' : 'non factory') %}

            {% if is_partial %}
                {% set value = value ~ ', ' ~ attribute(entry, 'serviceHistoryPartial') ~ '%' %}
            {% endif %}
        {% endif %}
      <div class="fieldValue">{{ value }}</div>
    </div>
    {% endfor %}
  </section>
  <section class="row">
    <div class="col s12">
      <a id="save-record">
        <i class="material-icons">file_download</i>
        <span>Download Internal PDF</span>
      </a>
    </div>
  </section>
</div>

{% endblock %}
