{% set entry = craft.entries.id( craft.request.getSegment(2) ).first() %}

{% set hideNav = true %}
{% set pageClass = 'internalRecord-page' %}
{% set pageTitle = entry.year ~ ' ' ~ entry.make ~ ' ' ~ entry.model ~ 'Internal Record' %}

{% extends "layouts/public" %}

{% import "_form/_macros" as _formMacros %}

{% block content %}
<section id="licenseAndRegistrationPhotos" class="visuallyhidden">
{% for photo in entry.licenseAndRegistrationPhotos %}
  <img class="inspection-image" src="{{ photo.url }}">
{% endfor %}
</section>
<div class="display-wrapper form-styles">
  <section class="row">
    {% set allFields = ['customerName'] %}
    {% for field in allFields %}
    <div class="field">
      {% set fieldName = field %}
      <div class="fieldName">{{ fieldName|camelToSpace|title }}</div>
      <div class="fieldValue">{{ attribute(entry, field)|striptags }}</div>
    </div>
    {% endfor %}
  </section>
  <section class="row">
    <div class="col s12">
      <a id="save-record">
        <i class="material-icons">file_download</i>
        <span>Download Internal PDF</span>
      </a>
    </div>
  </section>
</div>

{% endblock %}
