{% set pageClass = 'thank-you-page' %}
{% set pageTitle = 'Thank You' %}

{% extends "layouts/loginRequired" %}

{% block content %}

<div class="display-wrapper">


    <h2>Offer Finalized</h2>

    <i class="fa fa-thumbs-up"></i>

    <h3>Thank You For Using Are You Selling!</h3>


</div>
{% endblock %}
