.form-finalize {
  > section.row {
    padding: 48px;
    > .row {
      margin: 16px 0;
    }
    &.customer-and-car {
      padding: 24px 32px;
    }
  }
  .row-submit {
    padding-bottom: 1.5rem;
    .btn {
      width: 100%;
    }
  }
  .image-upload {
    margin: 16px 0;
    .image-upload__trigger {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        cursor: pointer;
      }
    }
    .col.image-upload__complex {
      display: none;
      padding: 0;
    }
    .image-upload__input {
      display: none;
    }
    .image-upload__preview {
      display: flex;
      align-items: center;
      justify-content: center;
      .image-wrapper {
        width: 64px;
        height: 64px;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          position: absolute;
          z-index: 1;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
        .image-upload__remove {
          cursor: pointer;
          position: absolute;
          z-index: 2;
          right: -2px;
          top: -2px;
        }
      }
    }
  }

  .bank {
    .bank__section-title {
      display: flex;
      align-items: center;
      p {
        margin: 0;
      }
      h2  {
        margin: 0;
        white-space: nowrap;
      }
      span {
        margin: 0 20px;
      }
    }
  }

  .terms {
    .terms__content {
      margin-bottom: 64px;
    }
  }
}
