[class^="section-final"] {
  padding: 40px 55px;

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    width: 100%;
  }

  > .row {
    // padding-left: 56px;
    // padding-right: 56px;
    margin-bottom: 60px;
  }
}
