.signature-display {
  display: block;
  border : none;
  border-bottom: 1px solid $medium-grey;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  img {
    padding: 0.4rem 0;
    display: none;
    height: 100%;
  }
}
