.section-inspections {
  background: #F7F7F7;
  height: calc(100vh - 80px);

  > .row {
    height: 100%;
  }

  .col {
    width: 50%;
  }

  .list {
    color: #4A4A4A;
  }

  .map {
    padding: 0;
    height: 100%;
  }

  .inspection {
    padding: 15px;
    font-size: 1.5rem;
    position: relative;

    .click-wrapper {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
      content: "";
      height: 100%;
    }

    .row {
      margin-bottom: 0;
    }

    &.active {
      background: white;
    }

    .col {
      padding: 0;
    }

    .title {
      font-weight: bold;
    }

    .status {
      color: #5FB3E3;
    }

    .status, .distance, .report {
      text-align: right;
    }

    .distance, .report {
      .material-icons {
        font-size: 1.4rem;
      }
    }

    .report {
      color: #DF5735;
      text-transform: uppercase;
    }
  }
}
