.section-offer {
  overflow: hidden;

  .offer {
    height: 9000px;
    float: left;
    width: 749px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .side {
    width: 275px;
    position: sticky;
    float: right;
    height: 100px;
    top: 0;
    background-image: linear-gradient(-143deg, #494E67 0%, #363B56 29%, #353A55 31%, #353955 31%, #080C2E 100%);
    box-shadow: inset 3px 3px 2px 0 rgba(0,0,0,0.07);
  }
}

.offer-meta {
  margin-top: 25px;
  margin-bottom: 0;
  padding-left: 30px;

  .col {
    padding: 0;
  }

  h3 {
    font-size: 1.4rem;
    color: $medium-grey;
    margin: 0;
  }

  p {
    font-size: 1.4rem;
    color: #000000;
    margin: 0;
  }
}

.offer-main {
  padding-left: 30px;

  h3 {
    text-transform: uppercase;
    color: $dark-blue;
    font-size: 1.3rem;
    line-height: 1.4em;
    border-bottom: 1px solid rgba($dark-blue,0.21);
    margin-bottom: 28px;
  }
}

.offer-issues {
  padding-left: 30px;

  .col {
    padding: 0;
  }

  h3 {
    text-transform: uppercase;
    color: $dark-blue;
    font-size: 1.3rem;
    line-height: 1.4em;
    border-bottom: 1px solid rgba($dark-blue,0.21);
    margin-bottom: 28px;
  }

  .offer-condition {
    font-size: 2.4rem;
    color: $dark-blue;
  }

  .offer-grade {
    color: #222D4A;
    font-size: 1.6rem;

    span {
      color: #7ED321;
      font-size: 4rem;
      display: block;
    }
  }
}

.offer-issues--list {
  .col {
    padding: 0;
  }

  p {
    padding-left: 30px;
    font-size: 1.5rem;
    color: $dark-blue;
  }
}


