.offer-rejected {

  &,
  body,
  .page,
  main,
  .valign-wrapper {
    height: 100%;
  }

  .valign {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding-bottom: 32px;
    margin-top: -60px;
  }

  .offer-container {
    text-align: center;

    .fa {
      background:#AA5A5A;
      border-radius: 100px;
      color: white;
      height: 60px;
      width: 60px;
      line-height: 60px;
      font-size: 30px;
    }
  }

  h3 {
    font-size: 14px;
    color: #ABABAB;
    line-height: 24px;
    margin-bottom: 27px;
    margin-top: 20px;
  }

  h2 {
    font-weight: 300;
    font-size: 20px;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 14px;
    padding: 0 44px;
  }

  h4 {
    font-size: 16px;
    color: #ABABAB;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 14px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0 45px;
  }

  hr {
    border-top: 1px solid rgba(0,0,0,0.12);
    border-bottom: 0;
    margin: 37px 0;
  }

  .text-offer {
    font-size: 30px;
    color: #7CAA5A;
    display: none;
  }

  .time-remaining {
    font-weight: 300;
    font-size: 30px;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
        display: inline;
        text-transform:capitalize;
      }
    }
  }
}
