.report {

  #page {
    max-width: none;
  }

  .offer-breakdown--header .score {
    line-height: 44px;
  }

  .offer-breakdown--report .col:first-child ul li:before {
    content: "";
  }

  .offer-breakdown--report ul li:before {
    display: none;
  }

  & main > .row {
    margin-top: 20px;
  }

  .form-assessmentTitle {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 26px;
    text-align: center;
  }

  @include at-query($min,$large) {

    .row > .row > .col {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.report-detail--wrap {
  background: white;
  padding: 10px;
}

.report-detail {
  margin-bottom: 10px;

  label {
    font-size: 1em;
    display: block;
  }

  p {
    margin-top: 0;

    &:empty {
      display: none;
    }
  }
}
