<div class="row">

  <div class="input-field col s12 m6">
    {{ _formMacros.textInput(entry, 'bsb', 'Bsb') }}
  </div>

  <div class="input-field col s12 m6">
    {{ _formMacros.textInput(entry, 'bankAccountNumber', 'Account No.') }}
  </div>
</div>

<div class="row">
  <div class="input-field col s12 m6">
    {{ _formMacros.textInput(entry, 'customerName', 'Name') }}
  </div>

  <div class="input-field col s12 m6">
    {{ _formMacros.textInput(entry, 'bank', 'Bank') }}
  </div>
</div>
