<div class="row">
  <div class="input-field col s12 m5">
    <input type="text" id="customerName" name="fields[customerName]" value="{{ entry.customerName }}" required>
    <label for="customerName">Customer Name</label>
  </div>

  <div class="input-field col s12 m2">
    <input type="text" id="date" name="fields[buildDate][date]" placeholder="dd/mm/yyyy" value="{{entry.buildDate|date('d/m/Y')}}" required>
    <label for="date">Build Date</label>
  </div>

  <div class="input-field col s12 m2 offset-m3">
    <input type="text" name="fields[odometer]" id="odometer" value="{{ entry.odometer }}" required>
    <label for="odometer">Odometer</label>
  </div>
</div>
