<div class="row">
  <div class="col s12 m6">
    <input type="file" id="image-upload" name="fields[vehicleImages][]" accept="image/*">
    <input type="file" id="image-upload-2" name="fields[vehicleImages][]" accept="image/*">
    <input type="file" id="image-upload-3" name="fields[vehicleImages][]" accept="image/*">
  </div>
</div>
