<div class="row">
  <div class="col s12 m6">
    <input type="hidden" id="image-upload" name="fields[customerSignatureString]" >
    <div class="signature-display" id="md-launch">
      <img class="signature-image" src="" alt="signature-image">
    </div>
  </div>
</div>
