<h2>Terms & Conditions </h2>
<div class="row">
  <div class="col s12 m5">
    <label for="signature">Customer Signature</label>
    <input type="hidden" id="customer-signature-string" name="fields[customerSignatureString]" >
    <div class="signature-display md-launch" data-target="customer">
      <img class="signature-image" id="customer-signature-image" src="" alt="customer signature">
    </div>
  </div>
  <div class="col s12 m5 m5 offset-m2">
    <label for="signature">AreYouSelling Rep (Witness) Signature</label>
    <input type="hidden" id="rep-signature-string" name="fields[repSignatureString]" >
    <div class="signature-display md-launch" data-target="rep">
      <img class="signature-image" id="rep-signature-image" src="" alt="rep signature">
    </div>
  </div>
</div>
