.btn {
  background-color: #26AAE1;
  color: white;
  font-weight: 300;
  font-size: 1.8rem;
  height: 60px;
  line-height: 60px;
  border-radius: 0;
  box-shadow: none;

  &:hover {
    background: $dark-blue;
  }

  &.btn-fullWidth {
    width: 100%;
  }
}


.btn-nextStep--wrap {
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
  color: $light-blue;
  align-items:center;
  padding-right: 40px;

  button {
    margin-left: 19px;
    background-color: transparent;
    background-image: url(/images/icon-arrow--right.svg);
    background-size: contain;
    border: none;
    height: 44px;
    width: 44px;
  }
}
