body {
  font-family: "Helvetica Neue";
  font-weight: 300;
}

h1,h2,h3,h4,h5 {
  font-weight: 300;
}

p {
  color: #333333;
  font-weight: 300;
}

.form-heading {
  color: #CCCCCC;
  font-size: 12px;
  text-align: center;

}

a {
  cursor: pointer;
}