nav {
  position: relative;

  @include at-query($min, $medium) {
    height: 80px;
    line-height: 80px;
  }
}



.header-list {
  position: absolute;
  bottom: 10px;
  left: 40px;
  line-height: 1em;

  li {
    display: block;
    line-height: 1em;
  }
}
