nav {
  position: relative;
  height: auto;
  line-height: auto;
  box-shadow: none;

  .icon-menu {
    display: block;
    width: 18px;
    height: 12px;
    background: url(/images/icon-menu.svg) 0 0 no-repeat;
    background-size: cover;
    cursor: pointer;
  }


  .fixed-height & {
    height: 80px;
    line-height: 80px;
  }

  .brand-logo {
    font-size: 1.2rem;
    color: $light-blue;
    line-height: 80px;
    text-transform: uppercase;
  }

  .left {
    line-height: 80px;
    padding-left: 20px;
  }

  .right {
    line-height: 80px;
    padding-right: 20px;
  }

  .inspection-header {
    line-height: 1em;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100%;

    .row {
      justify-content: space-around;
      margin: 0;
      display: flex;
      width: 100%;
      font-size: 2.3rem;
      color: white;
      line-height: 1em;

      .col {
        padding-top: 85px;
        font-weight: 300;
      }

      label {
        color: #26AAE1;
        display: block;
        font-weight: 300;
        font-size: 1.5rem;
      }
    }
  }
}

.header-list {
  position: absolute;
  bottom: 10px;
  left: 40px;
  line-height: 1em;

  li {
    display: block;
    line-height: 1em;
  }
}

.header-final {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 802px;
  margin: 0 auto;

  .left {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }

  .row {
    justify-content: space-around;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 1.6rem;
    color: white;
    line-height: 1em;

    .col {
      padding: 0 20px 9px;
      font-weight: 500;
      font-size: 1.4rem;

      &.active {
        border-bottom:5px solid $light-blue;

        [class^="icon"] {
          background-color: #fff;
        }
      }
    }
  }

  [class^="icon"] {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 20px;
    width: 20px;
    display: block;
    margin: 44px auto 6px;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: $light-blue;
  }

  .icon-user {
    mask-image: url(/images/icon-user.svg);
  }
  .icon-car2 {
    mask-image: url(/images/icon-car2.svg);
  }
  .icon-moneySymbol {
    mask-image: url(/images/icon-moneySymbol.svg)
  }
  .icon-bank {
    mask-image: url(/images/icon-bank.svg);
  }
  .icon-complete {
    mask-image: url(/images/icon-complete.svg);
  }
}

.header-date {
  position: absolute;
  right: 70px;
  bottom: 18px;
  line-height: 1em;
  font-size: 1.8rem;
  color: white;
  font-weight: 500;

  span {
    font-size: 1.3rem;
    display: block;
  }
}

.header-report {

  .left {
    line-height: 1em;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    bottom: 13px;
    left: 0;
    float: none !important;

     a {
       margin-right: 15px;
       display: inline-block;

       i {
        line-height: 1em;
        height: 12px;
       }
     }
  }

  .right {
    line-height: 1.7em;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 13px;
    font-size: 1.3rem;
    right: 0;
    float: none !important;

    .countdown {
      line-height: 1em;
      display: inline-block;
      margin: 0 0 0 5px;
      font-size: 3.8rem;
    }
  }
}
