{% set entry = craft.entries.id( craft.request.getSegment(2) ).first() %}

{% set pageClass = 'offer-accepted' %}
{% set pageTitle = entry.year ~ ' ' ~ entry.make ~ ' ' ~ entry.model ~ ' Offer' %}

{% extends "layouts/loginRequired" %}

{% block content %}

{% set sliderJS %}
$('#form-purchase').validate({
  errorElement: "em",
  errorPlacement: function(error, element) {
    $(element).parent().append(error);
  },
  submitHandler: function(form) {
    $.ajax({
       type: "POST",
        url: '/index.php?p=actions/negotiator/inspections/savePurchaseHistory',
        data: $(form).serialize(),
        success: function(data) {
            $('#purchaseModal').modal('close');
        },
        error: function(xhr, status, error) {
          var err = eval("(" + xhr.responseText + ")");
          alert(err.Message);
        }
    });
  }
});

$('.modal').modal({
  dismissible: false,
  ready: function(modal, trigger) {
    console.log(modal, trigger);
  }
});
{% endset %}
{% includeJs sliderJS %}

<div class="offer-container valign-wrapper">

  <div class="valign z-depth-1">

    <h3>Offer Accepted</h3>

    <i class="fa fa-check fa-4x"></i>

    <h2>Congratulations</h2>
    <h4>Here's what will happen next</h4>
    <ul>
      <li><span>1</span> Fill out remaining <a href="{{ url('finalize/'~entry.id) }}">paperwork</a> with the vehicle inspector.</li>
      <li><span>2</span> You will recieve your money before we collect the vehicle..</li>
      <li><span>3</span> We come and collect the car - and that’s it!</li>
    </ul>
    <a class="btn btn-medium waves-effect paperwork-link" href="{{ url('finalize/'~entry.id) }}">Proceed To Paperwork</a>
  </div>

</div>

<div class="purchaseForm">
    <a id="btn-purchaseModal" class="btn btn-medium waves-effect" href="#purchaseModal">Update Purchase History</a>
  </div>

  <div id="purchaseModal" class="modal">
   <h2>Purchase History</h2>
    <form action="" method="post" id="form-purchase">
      {{ getCsrfInput() }}
      <input type="hidden" name="id" value="{{entry.id}}">
      <input type="hidden" name="isAjax" value="1">

      <div class="input-field col s12">
        <input type="number" id="purchasePrice" name="purchasePrice" value="0" step="0.01">
        <label for="purchasePrice">Car Purchase Price</label>
      </div>

      <div class="input-field input-fieldLast col s12">
        <input type="checkbox" id="carBought" name="hasCarBeenPurchased" value="1">
        <label for="carBought">Was Car Bought</label>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn">Submit</button>
        <a href="#!" class="modal-action modal-close waves-effect btn-flat">Cancel</a>
      </div>
    </form>
    <a href="#!" class="close modal-action modal-close waves-effect btn-flat"><i class="fa fa-times"></i></a>
  </div>

{% endblock %}
