{% set entry = craft.entries.id( craft.request.getSegment(2) ).first() %}

{% set pageClass = 'offer-accepted' %}
{% set pageTitle = entry.year ~ ' ' ~ entry.make ~ ' ' ~ entry.model ~ ' Offer' %}

{% extends "layouts/loginRequired" %}

{% block content %}

<div class="offer-container valign-wrapper">

  <div class="valign z-depth-1">

    <h3>Offer Accepted</h3>

    <i class="fa fa-check fa-4x"></i>

    <h2>Congratulations</h2>
    <h4>Here's what will happen next</h4>
    <ul>
      <li><span>1</span> Fill out remaining <a href="{{ url('finalize/'~entry.id) }}">paperwork</a> with the vehicle inspector.</li>
      <li><span>2</span> You will recieve your money before we collect the vehicle..</li>
      <li><span>3</span> We come and collect the car - and that’s it!</li>
    </ul>
    <a class="btn btn-medium waves-effect paperwork-link" href="{{ url('finalize/'~entry.id) }}">Proceed To Paperwork</a>
  </div>

</div>



{% endblock %}
