{% set pageClass = 'offer-pending' %}
{% extends "_layout" %}

{% block content %}

<div class="offer-container">
  <h3>Offer Pending</h3>

  <div class="">
      <i class="fa fa-clock-o fa-4x"></i>
  </div>

  <h2>Your Offer will be ready soon!</h2>
  <p>We have received your inspection details and are processing your offer.</p>

  <hr>

  <h4></h4>

  <a href="/inspections/{{craft.request.getSegment(2)}}/offer">See Offer</a>

</div>

{% endblock %}
