{% set entry = craft.entries.id( craft.request.getSegment(2) ).first() %}

{% set pageClass = 'offer-pending' %}
{% set pageTitle = entry.year ~ ' ' ~ entry.make ~ ' ' ~ entry.model ~ ' Offer' %}

{% extends "_layout" %}

{% set timeOutJs %}
setTimeout(function(){
  $('.time-remaining').hide();
  $('.text-offer').show();
}, (60*(Math.floor(Math.random() * 5) + 2 )) * 1000 );
{% endset %}
{% includeJs timeOutJs %}

{% block content %}

<div class="offer-container valign-wrapper">

  <div class="valign z-depth-1">

    <h3>Offer Pending</h3>

    <i class="fa fa-clock-o fa-4x"></i>

    <h2>Your Offer will be ready soon!</h2>
    <p>We have received your inspection details and are processing your offer.</p>

    <hr>

    <h4>Estimate Time Remaining</h4>
    <div class="time-remaining">
      <ul class="countdown">
      	<li>
      		<span class="minutes">00</span>
      	</li>
      	<li>
      		<span class="seconds">00</span>
      		<span>Mins</span>
      	</li>
      </ul>
    </div>

    <a class="text-offer" href="/offer/{{craft.request.getSegment(2)}}/view">See Offer</a>
  </div>

</div>

{% endblock %}
