{% set entry = craft.entries.id( craft.request.getSegment(2) ).first() %}

{% set pageClass = 'offer-rejected' %}
{% set pageTitle = entry.year ~ ' ' ~ entry.make ~ ' ' ~ entry.model ~ ' Offer' %}

{% extends "layouts/loginRequired" %}

{% block content %}

<div class="offer-container valign-wrapper">

  <div class="valign z-depth-1">

    <h3>Consultant Pending</h3>

    <i class="fa fa-phone fa-4x"></i>

    <h2>We’re sorry we weren’t able to meet your expectations at this stage. </h2>

    <hr>

    <a class="btn btn-medium waves-effect paperwork-link" href="{{ url('finalize/'~entry.id) }}">Proceed To Paperwork</a>
  </div>

</div>

{% endblock %}
