.modal-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease;
}

.modal-container {
  max-width: 945px;
  position: relative;
  width: auto;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  padding: 50px;
}

.modal-btn--close {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  border: 2px solid rgba(#fff,0.3);
  position: absolute;
  top: -68px;
  right: 0;
  background: transparent;
  border-radius: 50px;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    border-bottom: 2px solid #fff;
    width: 50%;
  }

  &:before {
    transform: translate(-50%,-50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }
}


.modal-container--review {
  padding: 0;

  .modal-btn--close {
    display: none;
  }

  .row {
    margin: 0;

    .col:first-of-type {
      padding: 46px 44px;

      p {
        color: $light-blue;
        font-size: 1.8rem;
        font-weight: 400;
      }

      textarea {
        width: 100%;
        border: 1px solid rgba(#000,0.1);
      }
    }

    .col:last-of-type {
      background: $light-blue;
      color: white;
      padding: 46px 44px 17px;

      p {
        color: white;
        font-size: 1.8rem;
        font-weight: 400;
      }

      input[type="text"] {
        font-size: 3.6rem;
        border-color: white;
        width: 100%;
      }

      .buttons {
        display: flex;
        margin-top: 130px;

        .btn {
          height: 49px;
          line-height: 49px;
          font-size: 1.4rem;
          box-shadow: none;

          &:first-of-type {
            background-color: transparent;
            border: none;
            color: #121737;
          }

          &:last-of-type {
            background-color: #121737;
            color: white;
            flex-grow: 1;
          }
        }
      }
    }
  }
}

.modal-container--signature {
  width: 700px;
  padding: 15px;

  canvas {
    width: 100%;
    height: 200px;
    border: 1px solid #f7f7f9;
    border-radius: 4px;
  }

  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;

    .btn {
      border-radius: 5px;
    }
  }

  .btn-signature--clear {
    background: #3C4C84;
  }
}
