.inspection-details-field {
  text-align: right;
  position: relative;

  .help {
    position: absolute;
    top: 48px;
    right: 9px;
    margin-top: 0;
  }
}

.inspection-details-profit {
  text-align: right;

  .profit-value {
    display: inline-block;
    width: 268px;

    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
  }
}