.section-offer {
  &:after {
    content:"";
    clear:both;
    display:block;
  }

  .offer {
    float: left;
    width: 749px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .side {
    min-height: calc(100vh - 80px);
    width: 275px;
    position: sticky;
    float: right;
    top: 0;
    background-image: linear-gradient(-143deg, #494E67 0%, #363B56 29%, #353A55 31%, #353955 31%, #080C2E 100%);
    box-shadow: inset 3px 3px 2px 0 rgba(0,0,0,0.07);

    .buttons {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .btn {
    font-size: 1.6rem;
    display: block;
  }

  .btn-review {
    background: transparent;
    color: $light-blue;
    border:1px solid $light-blue;
    margin: 0 auto 10px;
    width: 90%;
    border-radius: 2px;
  }

  .btn-decline {
    background: transparent;
    color: #EB7E84;
    border:1px solid #EB7E84;
    margin: 0 auto 10px;
    width: 90%;
    border-radius: 2px;
  }

  .comparison {
    width: 60%;
    margin: 30px auto 50px;
    position: relative;

    .comparison-average {
      position: absolute;
      top: 0;
      left: -58px;
      font-size: 1.3rem;
      transform: translateY(-50%);
      font-weight: 500;

      span {
        font-weight: 300;
        display: block;
      }
    }

    .comparison-bar {
      width: 100%;
      height: 16px;
      background: rgba(38,170,255,0.34);
    }

    .comparison-max {
      position: absolute;
      top: 0;
      right: -50px;
      font-size: 1.3rem;
      transform: translateY(-50%);
      font-weight: 500;

      span {
        font-weight: 300;
        display: block;
      }
    }

    .comparison-needle {
      left: 50%;
      position: absolute;
      top: 8px;
      padding-top: 26px;
      padding-left: 10px;
      font-size: 1.3rem;

      span {
        font-weight: 500;
      }

      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: -1px;
        height: 40px;
        background: #242846;
        width: 2px;
      }

      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: -7px;
        height: 15px;
        background: #242846;
        width: 15px;
        border-radius: 15px;
      }
    }

    .comparison-price--extra {
      color: $light-blue;
      font-size: 1.3rem;
      position: absolute;
      top: 25px;
    }

    .comparison-bar--extra {
      position: absolute;
      height: 16px;
      background: #5FB3E3;
      top: 0;
      left: 0;
    }
  }
}

.side .divider {
  color: white;
  border-bottom:1px solid #1C2148;
  padding: 25px;
  height: auto;
  background-color: transparent;
  font-size: 2rem;
  overflow: visible;
  text-align: right;

  h3 {
    color: #98B7D6;
    font-size: 1.5rem;
    margin: 0;
  }

  &.offer-repairs {
    color: #FF8C8C;

    span {
      margin-top: 5px;
      display: block;
      font-size: 1.4rem;
      line-height: 1em;
      font-size: 2rem;
      font-weight: 500;

      span {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 300;
      }
    }

    p {
      margin-top: 5px;
      font-size: 1.4rem;
      color: white;
      margin: 0;
      line-height: 1.5em;
    }
  }
}

.offer-meta {
  margin-top: 25px;
  margin-bottom: 35px;
  padding-left: 30px;

  .col {
    padding: 0;
  }

  h3 {
    font-size: 1.4rem;
    color: $medium-grey;
    margin: 0;
  }

  p {
    font-size: 1.4rem;
    color: #000000;
    margin: 0;

    span {
      font-weight: 500;
    }
  }
}

.offer-estimation, .offer-valuation {
  font-weight: 500;
}

.offer-main {
  padding-left: 30px;

  h3 {
    font-weight: 500;
    text-transform: uppercase;
    color: $dark-blue;
    font-size: 1.3rem;
    line-height: 1.4em;
    border-bottom: 1px solid rgba($dark-blue,0.21);
    margin-bottom: 28px;
  }
}

.offer-issues {
  padding-left: 30px;
  margin-bottom: 18px;

  .col {
    padding: 0;
  }

  h3 {
    font-weight: 500;
    text-transform: uppercase;
    color: $dark-blue;
    font-size: 1.3rem;
    line-height: 1.4em;
    border-bottom: 1px solid rgba($dark-blue,0.21);
    margin-bottom: 28px;
  }

  .offer-condition {
    font-size: 2.4rem;
    color: $extra-dark-blue;
    font-weight: 500;
  }

  .offer-grade {
    color: $extra-dark-blue;
    font-size: 1.6rem;
    font-weight: 500;

    span {
      line-height: 1.2em;
      color: #7ED321;
      font-size: 4rem;
      display: block;
    }
  }
}

.offer-issues--list {

  li {
    padding:18px 18px 18px 30px;
    background: white;
    margin-bottom: 11px;
    position: relative;

    &[class^="icon"] {
      background: white url(/images/icon-transmission.svg) 40px 50% no-repeat;
      background-size: 30px 30px;
    }

    &.icon-sparekey {
      background-image: url(/images/icon-carKey.svg);
    }

    &.icon-petroltype {
      background-image: url(/images/icon-petrol.png);
    }

    &.icon-highkm {
      background-image: url(/images/icon-highKM.svg);
    }

    &.icon-sparekey {
      background-image: url(/images/icon-carKey.svg);
    }

    &.icon-history {
      background-image: url(/images/icon-history.svg);
    }

    &.icon-interior {
      background-image: url(/images/icon-interior.svg);
    }

    &.icon-undesirablecolour {
      background-image: url(/images/icon-undesirableColour.jpg);
    }

    &.icon-modifications {
      background-image: url(/images/icon-modifications.svg);
    }

    &.icon-vehicleage {
      background-image: url(/images/icon-vehicleAge.svg);
    }

    &.icon-wheel {
      background-image: url(/images/icon-wheel.png);
    }

    &:after {
      line-height: 1em;
      font-size: 3.5rem;
      right: 0;
      top: 0;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      position: absolute;
      width: 67px;
      height: 100%;
      background: #EFB3A3;
      content: "-";
    }

    p {
      padding-top: 7px;
      padding-left: 0;
    }
  }

  .body {
    padding-left: 78px;
    padding-right: 154px;
  }

  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 2rem;
    color: #253151;
  }

  p {
    margin: 0;
    padding-left: 30px;
    font-size: 1.5rem;
    color: $dark-blue;
  }
}

.offer-final {
  font-size: 3.6rem !important;
  color: white;
  line-height: 1em;
  font-weight: 500;

  h3 {
    margin-bottom: 4px !important;
  }

  p {
    font-weight: 300;
    font-size: 1.4rem;
    color: white;
    margin: 0;
  }
}

.offer-loading {
  padding: 35px 25px;

  p {
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.6em;
    margin-bottom: 78px;
  }

  h3 {
    text-transform: uppercase;
    color: #6C8CAD;
    font-size: 1.3rem;
    margin: 0;
  }

  .countdown {
    text-align: left;
    margin: 0;
    font-size: 3.8rem;
  }
}
