.section-waiting {
  background-image: radial-gradient(50% 143%, #485A89 50%, #111536 100%);
  height: 100vh;

  h3 {
    font-weight: 500;
    margin: 0;
    color: $light-blue;
    padding-top: 98px;
    font-size: 2.4rem;
    text-align: center;
  }

  p {
    font-weight: 500;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
    line-height: 1.5em;
  }

  .vehicles {
    width: 100%;
    height: 86px;
    position: absolute;
    transform: translate3d(0, 0, 0);
    content: "";
    bottom: 15px;
    left: 0;
    // overflow-x: hidden;

    &:after {
      background: url('/images/cars.svg') -46px 0 repeat-x;
      width: 600%;
      height: 66px;
      animation: slideshow 180s linear infinite;
      content: "";
      position: absolute;
      left: 0;
    }
  }

  .mountains {
    background: url('/images/mountains.svg') 0 100% no-repeat;
    width: 100%;
    position: absolute;
    height: 190px;
    content: "";
    bottom: 0;
    left: 0;
  }

  .messageBubbble {
    color: #242846;
    position: absolute;
    left: 20%;
    padding: 21px;
    font-size: 1.6rem;
    width: 223px;
    top: -100px;
    background: white;
    border-radius: 15px;
    animation: bubble 26s linear;
    animation-delay: 12.5s;
    opacity: 0;

    &:after {
      position: absolute;
      bottom: -35px;
      content: "";
      left: 50%;
      height: 35px;
      width: 54px;
      background: url(/images/bubble-end.svg) 0 0 no-repeat;
      background-size: cover;
    }
  }

  .messageBubbble2 {
    animation-delay: 64.6s;
  }
}

.loader {
  border-top: 3px solid #1FA7E0;
  width: 50%;
  margin: 30px auto 0;
  padding-top: 36px;
  position: relative;


  [class^="state"] {
    position: absolute;
    top: -14px;
    background: $dark-blue;
    border: 3px solid $light-blue;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    transform: translateX(-50%);

    &.active {
      background: $light-blue;
      animation: pulse 2s infinite;
    }
  }

  .state-1 {
    left: 0;
  }

  .state-2 {
    left: 50%;
  }

  .state-3 {
    left: 100%;
  }
}
