{#
 # Layout template
 # ---------------
 #}

<!DOCTYPE html>
{# force users to login before accessing website #}
{% requireLogin %}

<html class="no-js {% if pageClass is defined %}{{pageClass}}{% endif %}">
{% include 'layouts/head' %}
<body>

  <div class="page" id="page">
    <header class="z-depth-2">
      <nav >
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center">{% if pageTitle is defined %}{{ pageTitle }}{% else %}{{ siteName }}{% endif %}</a>
          <div class="left">
            <a class="header-icon--list" href="/"><i class="material-icons">view_list</i></a>
          </div>

          {% if currentUser %}
          <div class="right">
            <div class="header-date"></div>
            <a class="header-icon--logout" href="{{ logoutUrl }}"><i class="material-icons">exit_to_app</i></a>
          </div>
          {% endif %}
        </div>
      </nav>
    </header>

    <main role="main" class="container-fluid">

      {% block content %}
        <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
        <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
      {% endblock %}

    </main>

    <footer></footer>
  </div>

  {% block footerScripts %}
    {# IE8 and below need jQuery 1 - other browsers use jQuery 3: -#}
    {# (of course, if you don't need jQuery, just delete the next two lines...) -#}
    <!--[if lt IE 9]><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script><![endif]-->
    <!--[if gte IE 9]><!--><script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script><!-- <![endif]-->

    {% if craft.config.devMode %}
      <script src="/scripts/main.js"></script>
    {% else %}
      <script src="/scripts/main.min.js?v=1"></script>
    {% endif %}
  {% endblock %}


</body>
</html>
