{#
 # Single template
 # -------------------
 # A default template for single sections to extend
 #}

{% extends "_layout" %}
{% set title = entry.label|length ? entry.label : entry.title %}

{% block content %}

  <article class="entry-content">
    <h1>{{ entry.title }}</h1>
    {% if entry.subTitle|length %}<h2 class="subTitle">{{ entry.subTitle }}</h2>{% endif %}
    {{ entry.body }}
  </article>

{% endblock %}
