{#
 # Single template
 # -------------------
 # A default template for single sections to extend
 #}
{% extends "_layout" %}

{% block content %}

  <article class="entry-content">
    <h1>{{ entry.label }}</h1>
    {# Article contents: -#}
    {{ entry.body }}
  </article>

{% endblock %}
