{% extends "layouts/loginRequiredApp" %}

{% block content %}

    <div id="app"></div>
    <script>
        window.isAdmin = {{ currentUser.admin }};
        window.isSales = {{ currentUser.isInGroup('sales_consultants') ? 1 : 0 }};
    </script>

{% endblock %}
