
{% set pageClass = 'login' %}

{% extends "layouts/public" %}

{% block content %}


<div class="valign-wrapper">

  <form method="post" accept-charset="UTF-8" class="valign">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/forgotPassword">
    <input type="hidden" name="redirect" value="/">

    <div class="center-align">
      <img src="/images/logo.svg" alt="Are You Selling">
    </div>

    <div class="login-container">
      <h3 class="form-header">Enter your email address and instructions to reset your password will be sent to your email address provided</h3>
      <div class="input-field">
        <input id="loginName" type="email" name="loginName"
        value="">
        <label for="loginName">Email address</label>
      </div>

      {% if errorMessage is defined %}
      <p class="error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ errorMessage }}</p>
      {% endif %}
      <hr>
      <div class="col s12 right-align">
        <i class="btn-flat waves-effect waves-input-wrapper" style=""><input class="waves-button-input" type="submit"></i>
      </div>
    </div>
  </form>
</div>
{% endblock %}
