.purchaseForm {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  margin-bottom: 10px;
}

#purchaseModal {
  .input-field {
    text-align: left;
  }

  .input-fieldLast {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

.signature-display {
  display: block;
  border: none;
  border-bottom: 1px solid $medium-grey;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
}

.signature-image {
  padding: 0.4rem 0;
  display: none;
  height: 100%;
}

.close-btn {
  cursor: pointer;
}

.paperwork-link {
  display: block;
  margin-top: 20px;
  float: right;
  text-decoration: underline;
}

.countdown {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin-top: 70px;
}

.help {

  &.is-danger {
    color: red;
    display: block;
    margin-top: 7px;
    font-size: 1.3rem;
  }
}

.photo-list {
  background: white;
  padding: 23px 27px;

  h3 {
    font-size: 1.5rem;
    color: #21599B;
    margin-top: 0;
  }

  .col:first-of-type {
    padding-left: 0;
  }

  .col:last-of-type {
    padding-right: 0;
  }

  label {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 155px;
    background: #F3F4F4 url(/images/icon-plus.svg) 50% 50% no-repeat;
    border-radius: 6px;
  }

  img {
    max-width: 100%;
  }

  input {
    display: none;
  }
}
