
@font-face {
    font-family: 'montrealregular';
    src: url('/fonts/montreal/montreal-regular-webfont.woff2') format('woff2'),
         url('/fonts/montreal/montreal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
