form {

  h2 {
      margin-top: 20px;
      margin-bottom: 1px;
      font-size: 20px;
  }

  .row {
    margin-bottom: 0;
  }

  .col {
    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  .input-field.col:first-of-type label {
    left: 0;
  }

  .row-submit {
    padding-top: 45px;
  }
}

.radio-field {

  .row & {
    margin-top: 23px;
  }

  label:first-child {
    display: inline;
    font-size: 16px;
    color: rgba(0,0,0,0.87);
    line-height: 24px;
  }

  .radio-inline {
    display: inline-block;

    &:first-of-type label {
      text-align: left;
      width: 60px;
    }

    &:last-of-type label {
      text-align: left;
      width: 50px;
    }
  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    padding-left: 25px;
  }
}

em.error {
  position: static;
  display: block;
  margin-bottom: 40px;
}
