html {
  overflow-x:hidden; // prevent user from side scrolling

  &.hidden {
    display: block !important;
  }
}

body {
  background: #f7f7f7;
  color: $black;
  overflow: hidden;
  width: 100%;
}

//This website is designed for mobile only
#page {
  margin-left: auto;
  margin-right: auto;

  @include at-query( $min, $medium ) {
    max-width: 768px;
  }
}

header {
  margin-top: 0px;
}

.page + nav {
  display: none; //hide inital nav from showing on page to prevent page height jump
}

main {
  margin: 0 40px;
}
